@import '../../media';

.modal {
  padding: 10%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;

  .buttons {
    button {
      cursor: pointer;
      margin: 5% 5% 0;
      border: 1px solid black;
      width: 40%;

      &:hover {
        background-color: rgba(167, 176, 72, 0.3);
        border: 1px solid rgb(167, 176, 72);
      }
    }
  }
}

.wrapper {
  position: relative;
  border: 1px solid black;
  margin-bottom: 3%;
  max-width: 900px;
  min-width: 300px;
  padding: 2% 5%;
  display: grid;
  gap: 10px 30px;
  grid-template-columns: 63% 37%;
  grid-template-areas:
    "name pos"
    "desc skills"
    "desc ."
    "desc contacts";

    @include s {
      display: flex;
      flex-direction: column;
    }

  .removeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .name {
    grid-area: name;

    @include s {
     font-size: 1.5rem; 
    }
  }

  .position {
    align-self: flex-end;
    grid-area: pos;

    @include s {
      font-size: 1.2rem; 
      align-self: start;
     }
  }

  .skills {
    grid-area: skills;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, max-content));
    gap: 5px;

    * {
      box-shadow: 0 0 0 1px black;
      padding: 3px 5px;
    }
  }

  .description {
    grid-area: desc;
    padding: 15px 15px 0 0;
    border-top: 1px solid black;
    border-right: 1px solid black;

    @include s {
      padding-bottom: 10px;
      border: none; 
      border-bottom: 1px solid black;
     }
  }

  .contacts {
    grid-area: contacts;
  }
}
