@import "../../media";

.modalOpened {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  border: 1px solid;
  pointer-events: all;

  .modalContent {
    width: 30%;
    background-color: white;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.3);

    @include s {
      width: 80%;
    }
  }
}

.modal {
  opacity: 0;
  pointer-events: all;
}
