@import "../../media";

.header {
  height: 12%;
  width: 100%;
  display: grid;
  grid-template-areas: "logo nav accaunt";
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 5, 6, 0.899);
  color: rgb(167, 176, 72);
  padding: 0 3%;

  @include m {
    grid-template-areas: "nav logo accaunt";
  }

  .logo {
    grid-area: logo;
    justify-self: self-start;

    img {
      width: 80px;

      @include s {
        width: 60px;
      }
    }
  }

  .nav {
    position: absolute;
    grid-area: nav;
    justify-self: center;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: space-between;

    @include s {
      font-size: 1rem;
    }

    @include m {
      position: relative;
      display: none;
    }

    * {
      width: 200px;
      text-align: center;
      white-space: nowrap;
      border: 1px solid rgb(167, 176, 72);
      padding: 10px 0;
      margin: 0 3%;
      transition: 0.5s ease;

      &:hover {
        border: 1px solid transparent;
        transition: 0.5s ease;
        transform: scale(1.1);
      }

      @include s {
        width: 140px;
      }
    }
  }

  .burger {
    grid-area: nav;
    display: none;
    font-size: 2rem;
    cursor: pointer;

    @include m {
       display: block;
    }
  }

  .accaunt {
    grid-area: accaunt;
    justify-self: end;
    display: flex;
    font-size: 1.5rem;
    position: relative;
    align-items: center;

    @include s {
      font-size: 1rem;
      flex-direction: column;
    }

    .sidebar {
      font-size: 2.5rem;
      transform: rotate(-90deg);
      transition: 0.3s ease;
    }

    .sidebarOpened {
      font-size: 2.5rem;
      transition: 0.3s ease;
      transform: rotate(0);
    }

    .btn {
      padding: 0 20px;
      width: max-content;

      @include s {
        padding: 5px 0;
      }

      &::after {
        display: block;
        content: "";
        width: 0%;
        height: 2px;
        background: rgb(167, 176, 72);
        position: absolute;
        bottom: -10px;
        transition: width 0.3s ease-out;

        @include s {
          display: none;
        }
      }

      &:hover::after {
        width: 45%;
      }
    }
    .userName {
      @include s {
        display: none;
      }
    }
  }
}
