.layout {
    background-color: rgba(1, 5, 6, 0.899);
    height: 100vh;

    .logo {
        padding: 15px 5%;
    }

    .main {
        height: 70vh;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}